@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center mt-5">
    <div class="jumbotron bg-light p-5 shadow rounded">
        <h1 class="display-4 text-danger fw-bold">Welcome to Blood Donation Management System</h1>
        <p class="lead text-secondary">
            Your contribution can save lives! Join us in making a difference by donating blood today.
        </p>
        <hr class="my-4">
        <p class="text-muted">A single pint can save up to three lives. Be a hero today!</p>
        
                       
        <a class="btn btn-danger btn-lg mt-3" href="@Url.Action("Create", "Donors")">Register For Donation</a>
                        
    </div>

    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card shadow-lg p-3">
                
                <div class="card-body">
                    <h5 class="card-title text-danger">Why Donate Blood?</h5>
                    <p class="card-text">Donating blood helps patients in need of transfusions due to surgery, accidents, or illness.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow-lg p-3">
                
                <div class="card-body">
                    <h5 class="card-title text-danger">Find a Blood Bank</h5>
                    <p class="card-text">Locate the nearest blood bank and make your contribution today.</p>
                    <a class="nav-link text-white fw-bold px-4 py-2 rounded bg-primary shadow-sm transition" href="@Url.Action("BloodBank", "Home")">View Blood Banks</a>

                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow-lg p-3">
               
                <div class="card-body">
                    <h5 class="card-title text-danger">Request As a Emergency Receiver</h5>
                    <p class="card-text">
                        "In case of an emergency, please feel free to contact us for immediate blood donation assistance. We're here to help!"

                    </p>
                    <a class="nav-link text-white fw-bold px-4 py-2 rounded bg-primary shadow-sm transition" href="@Url.Action("Create", "emergencyaccepters")">Request As emergency Receiver</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
